<%- include("header") -%>

    <section id="home">
        <div class="container-fluid shortener">
            <h2>Tired of long urls ?</h2>
            <h1 class="tagline">Paste. Curt. Share.</h1>
            <form class="url-form" action="/shortUrls" method="post">
                <div class="url-box">
                    <input type="text" name="fullUrl" id="fullUrl"
                        placeholder="Enter a URL to shorten">
                    <button class="short-btn" type="submit" >curt</button>
                </div>
            </form>
        </div>
    </section>

<%- include("footer") -%>
