<%- include("header") -%>

    <section id="home">
        <div class="container-fluid shortener">
            <h2>Tired of long urls ?</h2>
            <h1 class="tagline">Paste. Curt. Share.</h1>
            <form class="url-form" action="/shortUrls" method="post">
                <div class="url-box">
                    <input autocomplete="off" type="text" name="fullUrl" id="fullUrl"
                        placeholder="Enter a URL to shorten">
                    <button class="short-btn" type="submit" >curt</button>
                </div>
            </form>
            <div class="url-box box-short hidden">
                <p id="short-url"><%=shortURL%></p>
                <button class="short-btn share-btn"><i class="fas fa-share-alt"></i></button>
            </div>
        </div>
    </section>

<%- include("footer") -%>
