body{
    background-color: white;
}
.navbar{
    margin: 5px 5px 0px 5px;
    border-radius: 20px;
    padding: 0 30px;
}
.navbar-brand{
    color: #ffcd57 !important;
    font-size: 2rem;
    width: 0;
}

.navbar-nav a{
    color: white !important;
}
.navbar-collapse{
    justify-content: center;
}
section{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
input{
    min-height: 60px;
    text-align: center;
    border: none;
}
input:focus{
    outline: none;
}

.tagline{
    color: white;
    font-size: 3rem;
    padding: 20px 0;
}
.shortener{
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content:end;
    background-color: black;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 4rem;
}
.shortener>h2{
    color: #ffcd57;
    text-align: left;
    position: relative;
    justify-self: center;
    align-self: center;
    padding: 20px 0;
}
.url-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.url-box{
    display: flex;
    flex-direction: row;
    width: 70%;
    border-radius: 30px;
    background-color: white;
    justify-content: space-between;
}
.url-box>input{
    width: 90%;
    border: none;
    border-radius: 30px;
}
.url-box>p{
    vertical-align: middle;
    text-align: center;
    width: 90%;
    border: none;
    border-radius: 30px;
    margin: auto 0;
}
.short-btn{
    height: 50px;
    width: 10%;
    border-radius: 30px;
    border: none;
    margin: 5px;
    background-color: #ffcd57;
}
.box-short{
    margin: 20px 0;
}
.hidden{
    visibility: hidden;
}

.stat-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 100%;
    border-radius: 20px;
    padding: 20px 5px;
    margin: 10px 0;
}
.stat-box a, .stat-box td{
    color: #ffcd57;
}
table{
    min-width: 50%;
    min-height: 70vh;
}
.table-div{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 1em;
    max-width: fit-content;
}

th, td{
    border: 1px #ddd;
    border-style: none solid solid none;
    border-radius: 1em;
}
thead:last-child, tbody:last-child, tr:last-child, td:last-child, th:last-child{
    border-right: none;
}

.copy{
    border: none;
    border-radius: 20px;
}


@media screen and (max-width: 720px) {
    .url-box>input{
        width: 70%;
    }
    .short-btn{
        width: 30%;
    }
    .tagline{
        font-size: 2.5rem;
    }
    th, td{
        max-width: 33vw;
        overflow: scroll;
        padding-top: 5px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    th::-webkit-scrollbar, td::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  th::-webkit-scrollbar, td::-webkit-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

}

@media screen and (max-width: 1024px) {
    .navbar-brand{
        width: fit-content;
    }
    .navbar-nav{
        text-align: center;
    }
    .copy{
        position: fixed;
        margin: 20px 2rem 20px -2rem;
    }
}