body{
    background-color: white;
}
.navbar{
    margin: 5px 5px 0px 5px;
    border-radius: 20px;
    padding: 0 30px;
}
.navbar-brand{
    color: #ffcd57 !important;
    font-size: 2rem;
    width: 0;
}

.navbar-nav a{
    color: white !important;
}
.navbar-collapse{
    justify-content: center;
}
section{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
input{
    min-height: 60px;
    text-align: center;
    border: none;
}
input:focus{
    outline: none;
}

.tagline{
    color: white;
    font-size: 3rem;
    padding: 20px 0;
}
.shortener{
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content:end;
    background-color: black;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 4rem;
}
.shortener>h2{
    color: #ffcd57;
    text-align: left;
    position: relative;
    justify-self: center;
    align-self: center;
    padding: 20px 0;
}
.url-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.url-box{
    display: flex;
    flex-direction: row;
    width: 70%;
    border-radius: 30px;
    background-color: white;
    justify-content: space-between;
}
.url-box>input{
    width: 90%;
    border: none;
    border-radius: 30px;
}
.url-box>p{
    vertical-align: middle;
    text-align: center;
    width: 90%;
    border: none;
    border-radius: 30px;
    margin: auto 0;
}
.short-btn{
    height: 50px;
    width: 10%;
    border-radius: 30px;
    border: none;
    margin: 5px;
    background-color: #ffcd57;
}
.box-short{
    margin: 20px 0;
}
.hidden{
    visibility: hidden;
}

.stat-box{
    text-align: center;
    background-color: black;
    color: white;
    height: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 720px) {
    .url-box>input{
        width: 70%;
    }
    .short-btn{
        width: 30%;
    }
    .tagline{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-brand{
        width: fit-content;
    }
    .navbar-nav{
        text-align: center;
    }
}