body{
    background-color: white;
}
.navbar{
    margin: 5px 5px 0px 5px;
    border-radius: 20px;
    padding: 0 30px;
}
.navbar-brand{
    color: #ffcd57 !important;
    font-size: 2rem;
    width: fit-content;
}
.sign{
    margin: 15px 0;
    font-size: 1rem;
}

.navbar-nav a{
    color: white !important;
}
.navbar-collapse{
    justify-content: center;
}
section{
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
input{
    min-height: 60px;
    text-align: center;
    border: none;
}
input:focus{
    outline: none;
}

.tagline{
    color: white;
    font-size: 3rem;
    padding: 20px 0;
}
.shortener{
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content:end;
    background-color: black;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 4rem;
}
.shortener>h2{
    color: #ffcd57;
    text-align: left;
    position: relative;
    justify-self: center;
    align-self: center;
    padding: 20px 0;
}
.url-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.url-box{
    display: flex;
    flex-direction: row;
    width: 70%;
    border-radius: 30px;
    background-color: white;
    justify-content: space-between;
}
.url-box>input{
    width: 90%;
    border: none;
    border-radius: 30px;
}
.url-box>a{
    vertical-align: middle;
    text-align: center;
    width: 90%;
    margin: auto 5px;
    color: black;
    overflow: scroll;
    word-break: keep-all;
}
.short-btn{
    height: 50px;
    width: 10%;
    border-radius: 30px;
    border: none;
    margin: 5px;
    background-color: #ffcd57;
}
.box-short{
    margin: 20px 0;
}
.hidden{
    visibility: hidden;
}
.stat-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    height: 100%;
    border-radius: 20px;
    padding: 20px 5px;
    margin: 10px 0;
}
.stat-box a, .stat-box td{
    color: #ffcd57;
}
table{
    min-width: 50%;
    min-height: 70vh;
}
.table-div{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 1em;
    max-width: fit-content;
}

th, td{
    border: 1px #ddd;
    border-style: none solid solid none;
    border-radius: 1em;
}
thead:last-child, tbody:last-child, tr:last-child, td:last-child, th:last-child{
    border-right: none;
}

button{
    border: none;
    border-radius: 20px;
    background-color: #ffcd57;
}
@media screen and (max-width: 720px) {
    .url-box>input{
        width: 70%;
    }
    .short-btn{
        width: 30%;
    }
    .tagline{
        font-size: 2.5rem;
    }
}
th, td{
    max-width: 33vw;
    overflow: scroll;
    padding-top: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
a::-webkit-scrollbar, th::-webkit-scrollbar, td::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
a::-webkit-scrollbar, th::-webkit-scrollbar, td::-webkit-scrollbar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
@media screen and (max-width: 1024px) {
    .navbar-brand{
        width: fit-content;
    }
    .navbar-nav{
        text-align: center;
    }
}

/* share style */

.share-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .copy-link {
    padding-left: 30px;
    padding-right: 30px;
  }
  
   .share-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    /* min-height: 50vh; */
    box-shadow: 0 8px 16px rgba(0,0,0,1);
    z-index: -1;
    border: 2px solid #ffcd57;
    padding: 20px;
    padding-top: 0;
    border-radius: 20px;
    background-color: black;
  }

  .dialog-title{
      color: #ffcd57;
      margin: 20px 0;
  }
  
  .share-dialog.is-open {
    display: block;
    z-index: 2;
  }

  .targets {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }
  
  .close-button {
    color: #ffcd57;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 2rem;
  }
  
  .close-button svg {
    margin-right: 0;
  }

  .social-button{
      font-size: 2rem;
      text-align: center;
  }
  .social-button button{
      height: 50px;
      width: 50px;
      border-radius: 50%;
  }
  .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
  }
  
  .copy-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    text-align: center;
    /* min-width: 70%; */
  }

  .copy-link{
      padding: 10px;
      border-radius: 30px;
  }

  .browser-title{
      color: #ffcd57;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  .browser-close{
      color: #ffcd57;
      background-color: transparent;
      font-size: 2rem;
  }

  .detail-body{
      color: #ffcd57;
  }
  .modal-footer button{
        background-color: #ffcd57;
        border: none;
        border-radius: 20px;
        color: black;
  }

  .browser-content{
      background-color: black;
  }